<% content_for :head do %>
  <title><%= @user.name %> - monolist</title>
  <meta name="description" content="check what <%= @user.name %> have and want at monolist">
  <meta name="keywords" content="<%= @user.name %>, amazon">
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>